@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
  font-family: 'Titillium Web', sans-serif;
  
}

body {
  background-color: #0C0D21;
  margin: 0;
  height: 100%;
}